@CHARSET "UTF-8";

.field_key {
	margin-left: 203px;
}

input.widgetSlider {
	width: 350px;
}

input.widgetSlider#Element_OphOuAnaestheticsatisfactionaudit_Satisfaction_nausea {
	width: 116px;
}

#liveMEWSContainer .MEWS { background: #fafafa; }
#liveMEWSContainer .MEWS.high { background: #f06c6c; }
#liveMEWSContainer .MEWS.ok	{ background: #d3ebd2; }

#liveMEWS {
	width: 50px;
	text-align: right;
	float: left;
	position: absolute;
}

/*
.score_1 {
	color: #4febc9;
	padding: 2px;
}

.score_2 {
	color: #fff49c;
	padding: 2px;
}
*/

.score_3 {
	color: #f00;
	padding: 2px;
