@CHARSET "UTF-8";

.field_key {
	margin-left: 232px;
}

input.widgetSlider {
	width: 420px;
}

input.widgetSlider#Element_OphAuAnaestheticsatisfactionaudit_Satisfaction_nausea {
	width: 168px;
}

#liveMEWSContainer {
	position: relative;
	margin-left: 300px;
	width: 300px;
}
#MEWS{
	width: 233px;
	margin: -150px 0px 0px 150px;
	font-size: 1.8em;
	padding: 3px;
}

#liveMEWS {
	margin-left: 20px;
}

.highMEWS {
	border: #f00 solid 3px !important;
}

.score_1 {
	background-color: #4febc9;
	padding: 2px;
}

.score_2 {
	background-color: #fff49c;
	padding: 2px;
}

.score_3 {
	background-color: #ff7878;
	padding: 2px;
}